
/**
 * Fix user-agent
 */

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: #fff;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select:none;
  -o-user-select:none;
  user-select:none;
  cursor: default;
}

.align-center {
  text-align: center;
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.canvas {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  cursor: pointer;
}

.title {
  padding: 8px;
  position: fixed;
  top:0;
  left:0;
  font-size:14pt;
  font-weight: bold;
}

.widget {
  background: rgba(50,50,50,.5);
}

.control-panel {
  position: fixed;
  top:0;
  right:0;
  /*min-width: 150px;*/
  /*min-height: 400px;*/
  font-size:9pt;
  padding: 8px;
}

.info-bar {
  position: fixed;
  top:40px;
  left:0;
  font-size:9pt;
  padding: 0 8px;
}

.coord-info {
  font-size: 9pt;
  position: fixed;
  right:0;bottom:0;
  padding:8px;
}

.item {
  float: left;
}

.row {
  margin: 4px 0;
}

.color {
  border: 1px solid #fff;
  height: 14px;
  width: 14px;
}
